__pycache__
.ipynb_checkpoints
.vscode
api/azure_api_cost.py
api/gpt4.py
api/gpt4o.py
api/gpt4v.py
api/internvl_sft.py
outputs/2D-Scene/*
outputs/asset/0001682/pcd*
outputs/asset/0001682/rgb_*
foundation/Depth_Anything/depth_anything_metric_depth_indoor.pt